<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher | Students Attendance Management System</title>
  <script src="https://kit.fontawesome.com/f6549854b5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="icon" type="image/x-icon" href="/images/logo.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/studentmanage.css">
</head>

<body>
  <!-- HEADER -->
  <header class="header">
    <div class="logo">
      <img src="/images/logo.jpg">
      <h2><span>Students Attendance Management System - </span>SAMS</h2>
    </div>
    <nav class="navbar">
      <a href="/landing/home">Logout<i class="fa-solid fa-arrow-right-from-bracket"></i></i></a>
    </nav>
  </header>
  <!-- HEADER -->

  <div class="teacher-container">
    <div class="teachers">
      <a href="/teacher/<%= idid %>" class="prevpage"><< Home</a>
      <h2 class="teachers-title">STUDENTS IN <%= stuData[0].cname %>
        <hr>
      </h2>
      <table class="content-table">
        <thead>
          <tr>
            <th>S. No.</th>
            <th>Enrollment No.</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Course</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th style="justify-content: left;">Contact</th>
          </tr>
        </thead>
        <tbody>
          <% let serialNumber=1; %>
            <% if(stuData.length> 0){ %>
              <% stuData.forEach((row)=> { %>
                <tr>
                  <td>
                    <%= serialNumber %>
                  </td>
                  <td>
                    <%= row.enroll %>
                  </td>
                  <td>
                    <%= row.sname %>
                  </td>
                  <td>
                    <%= row.gender %>
                  </td>
                  <td>
                    <%= row.cname %>
                  </td>
                  <td>
                    <% const formattedDate = new Date(row.sdob).toLocaleDateString("es-CL"); %>
                    <%= formattedDate %>
                  </td>
                  <td>
                    <%= row.semail %>
                  </td>
                  <td>
                    <%= row.sphone %>
                  </td>
                </tr>
                <% serialNumber++; %>  
                <% }) %>
                <% } else { %>
                  <h3>Data not found</h3>
                <% } %>
        </tbody>
      </table>  
    </div>
  </div>

</body>

</html>